head
  meta(charset="utf-8")
  meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
  title Greina - We ❤ FinTech
  meta(name="description", content="We love great Banking, Money Management and Investing, naturally we like FinTech Startups. Follow us on Twitter @GreinaHQ!")
  meta(property="og:title", content="Greina - We ❤ FinTech")
  meta(property="og:description", content="We love great Banking, Money Management and Investing, naturally we like FinTech Startups. Follow us on Twitter @GreinaHQ!")
  meta(property="og:url", content="https://greina.io")
  meta(property="og:image", content="https://greina.io/static/images/preview-1200.jpg")
  meta(name="twitter:card", content="summary_large_image")
  meta(name="twitter:description", content="We love great Banking, Money Management and Investing, naturally we like FinTech Startups. Follow us on Twitter @GreinaHQ!")
  meta(name="twitter:image", content="https://greina.io/static/images/preview-1200.jpg")
  meta(name="twitter:image:alt", content="Greina - We ❤ FinTech")
  meta(name="twitter:site", content="@GreinaHQ")
  link(rel="shortcut icon", type="image/x-icon", href="/static/images/favicon.ico")
  meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no, viewport-fit=cover")
  link(
    href="//fonts.googleapis.com/css?family=Lato:400,700"
    rel="stylesheet"
  )
  link(
    href="/styles.css"
    rel="stylesheet"
  )
